@import "tailwindcss";



/* Custom Scrollbar for Kind UI */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  /* slate-700 */
  border-radius: 99px;
  border: 2px solid #0f172a;
  /* slate-900 matching bg */
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
  /* slate-600 */
}

::-webkit-scrollbar-corner {
  background: transparent;
}